TRANSFER_DIR = "//home/transfer-dir"
ARCHIVE_DIR = "//home/archive-dir"
LOGGING_DIR = "//home/logs"
REQUIRED_HEADERS = '["Source-Organization","Contact-Name","External-Description","External-Identifier"]'
DATABASE = "//home/archive-dir/transfers.db"
VALIDATION_DB = "//home/archive-dir/validation.db"
REPORT_DIR = "//home/logs"