TRANSFER_DIR = "/path/to/transfer/dir"
ARCHIVE_DIR = "/path/to/storage/dir"
LOGGING_DIR = "/path/to/logging/dir"
REQUIRED_HEADERS = '["Source-Organization","Contact-Name","External-Description","Internal-Sender-Identifier"]'
DATABASE = "/path/to/database.db"